.DS_Store
.vs
*.pyc
*.ini
build/
dist/
venv/
certbot_dns_aliyun.egg-info/
*.snap
letsencrypt/
debug/

scripts/
snap/
docs/
.git/
Dockerfile
.dockerignore
.gitignore
.gitattributes
.gitpod.yml
readthedocs.org.requirements.txt
local-oldest-requirements.txt
snap-constraints.txt